<template>
	<v-container>
		<v-row>
			<v-col class="border-1">
				<v-container>

					<!-- TODO: refactor, move to separated component -->
					<!-- Dialog step add start -->
					<v-dialog
						v-model="is_dialog_step_add_opened"
						width="500"
					>
						<template
							v-slot:activator="{ on, attrs }"
						>
							<v-btn
								class="success darken-1 pl-2"
								v-on="on"
								v-bind="attrs"
							>
								<v-icon class="mr-2">mdi-plus</v-icon>
								Добавить шаг
							</v-btn>
						</template>

						<v-card>
							<v-card-title>Добавить шаг</v-card-title>
							<v-card-text>
								<v-select
									:items="Object.keys(default_actions)"
									label="Действие"
									v-model="dialog_step_add_select_value"
									@change="update_current_step"
								></v-select>
								<test-treeview
									:items="current_step"
								></test-treeview>
							</v-card-text>
							<v-divider></v-divider>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn
									@click="step_add(dialog_step_add_select_value)"
									class="success darken-1"
								>
									Добавить
								</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
					<!-- dialog step add end -->

					<v-btn
						class="ml-3"
						@click="update_yaml"
					>
						Дерево в YAML
						<v-icon>mdi-arrow-right</v-icon>
					</v-btn>
				</v-container>
				<v-container>
					<test-treeview
						:items="treeview_object"
					></test-treeview>
				</v-container>
			</v-col>
			<v-col>
				<v-container>
					<v-btn
						@click="update_treeview"
					>
						<v-icon>mdi-arrow-left</v-icon>
						YAML в дерево
					</v-btn>

					<v-btn class="primary ml-3" @click="copy_yaml_to_clipboard">
						<v-icon left>
							mdi-content-copy
						</v-icon>
						Копировать
					</v-btn>

					<!-- TODO: refactor, move to separated component -->
					<!-- Dialog download file start -->
					<v-dialog v-model="is_dialog_download_file_opened" width="500">
						<template v-slot:activator="{ on, attrs }">
							<v-btn
								class="primary ml-3"
								v-on="on"
								v-bind="attrs"
							>
								<v-icon left>
									mdi-download
								</v-icon>
								Скачать
							</v-btn>
						</template>
						<v-card>
							<v-card-title>
								Скачать YAML файл
							</v-card-title>
							<v-card-text>
								<v-text-field
									v-model="dialog_download_file_file_name" label="Имя файла"
									@keyup="download_yaml_file"
									autofocus
								></v-text-field>
							</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn
									class="primary"
									@click="download_yaml_file"
								>
									<v-icon left>
										mdi-download
									</v-icon>
									Скачать
								</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
					<!-- dialog download file end-->

				</v-container>
				<v-container>
					<v-textarea
						v-model="yaml"
						filled
						rows="20"
						auto-grow
						id="result_yaml_textarea"
					></v-textarea>
				</v-container>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
/* TODO: Сделать импорт файла. */
/* TODO: Вынести шаблоны шагов и дефолтный YAML в отдельные файлы */
/* TODO: Перенести кнопки в app-bar */
/* TODO: Добавить разворачивание дерева при добавлении шага */
/* TODO: Добавить кнопку развернуть/свернуть всё дерево */
import YAML from 'yaml';
import TestTreeview from "./TestTreeview";
import DEFAULT_ACTIONS from "../config/actions";

YAML.defaultOptions.indent = 4; // Размер отступа

export default {
	name       : "TestGenerator",
	components : {TestTreeview},
	data       : () => ({
		default_actions                : DEFAULT_ACTIONS,
		dialog_download_file_file_name : 'test',
		is_dialog_download_file_opened : false,
		current_step                   : [],
		dialog_step_add_select_value   : null,
		is_dialog_step_add_opened      : false,
		loading                        : true,
		yaml                           : `environment:
    host:
        ru.wikipedia.org
    protocol:
        https
    os:
        win
    device_type:
        desktop
    browser:
        name:
            firefox
        version:
            latest
    display:
        preset:
            - medium


finally:
    callback:
        host:
            some.domain
catch:
    logger:
        sentry:
            dsn:
                some_link
    callback:
        host:
            some.domain


test_plan: {}`,
		treeview_object                : [],
		is_yaml_valid                  : true
	}),
	methods    : {
		step_add(action_name) {
			if (action_name !== null) {
				let object     = this.treeview_to_object(this.treeview_object);
				let step_index = Object.keys(object.test_plan).length;
				let step_name  = 'step_' + step_index + '_' + action_name;

				object.test_plan[step_name] = this.treeview_to_object(this.current_step);

				this.treeview_object = this.object_to_treeview(object);

				this.update_yaml();
				this.is_dialog_step_add_opened    = false;
				this.dialog_step_add_select_value = null;
				this.$store.dispatch('SNACKBAR_SUCCESS', `Шаг ${step_name} успешно добавлен`);
				this.current_step = [];
			}
		},


		/**
		 * Обновляет YAML в соответствии с деревом
		 */
		update_yaml() {
			this.yaml = this.treeview_to_yaml(this.treeview_object);
		},


		/**
		 *  Обновляет дерево в соответствии с YAML
		 */
		update_treeview() {
			let treeview = this.yaml_to_treeview(this.yaml);
			if (treeview) {
				this.treeview_object = treeview;
			}
		},


		/**
		 * Конвертирует YAML в объект treeview
		 */
		yaml_to_treeview(yaml) {
			let object          = this.yaml_to_object(yaml);
			let treeview_object = [];

			if (object) {
				treeview_object    = this.object_to_treeview(object);
				this.is_yaml_valid = true;
			} else {
				this.is_yaml_valid = false;
			}

			if (!this.is_yaml_valid) {
				this.$store.dispatch('SNACKBAR_ERROR', 'Невалидный YAML');

				return false;
			} else {
				return treeview_object;
			}
		},


		/**
		 *
		 */
		treeview_to_object(treeview) {
			let object = {};
			for (let node of treeview) {
				object[node.name] = this.treeview_node_convert_to_object(node);
			}

			return object;
		},


		/**
		 * Конвертирует объект в формате treeview в YAML
		 */
		treeview_to_yaml(treeview) {
			let object = this.treeview_to_object(treeview)

			return YAML.stringify(object);
		},


		/**
		 * Конвертирует YAML в объект JavaScript
		 */
		yaml_to_object(yaml) {
			let response = false;
			try {
				response = YAML.parse(yaml);
			} catch (error) {
				// ...
				console.log('невалидный yaml', error);
			}

			return response;
		},


		/**
		 * Преобразует объект в формат treeview
		 */
		object_to_treeview(object) {
			let result = [];
			for (let key in object) {
				result.push(this.object_prop_convert_to_treeview_node(object, key));
			}

			return result;
		},


		/**
		 * Конвертирует свойство объекта в узел дерева
		 */
		object_prop_convert_to_treeview_node(object, key) {
			let treeview_node;
			if (typeof object[key] == 'object') {
				treeview_node = {name : key, children : []};

				if (object[key] instanceof Array) {
					treeview_node.type = 'array';
				}

				for (let sub_key in object[key]) {
					let child_node = this.object_prop_convert_to_treeview_node(object[key], sub_key);
					treeview_node.children.push(child_node);
				}
			} else {
				treeview_node = {name : key, value : object[key]};
			}

			return treeview_node;
		},


		/**
		 *
		 */
		treeview_node_convert_to_object(treeview_node) {
			let result = {};

			if (treeview_node.children) {
				for (let sub_node of treeview_node.children) {
					result[sub_node.name] = this.treeview_node_convert_to_object(sub_node);
				}

				if (treeview_node.type == 'array') {
					result = Object.values(result);
				}
			} else {
				return treeview_node.value;
			}

			return result;
		},


		/**
		 * Копирует содержимое textarea в буфер обмена
		 */
		copy_yaml_to_clipboard() {
			let textarea = document.getElementById('result_yaml_textarea');
			textarea.select();
			document.execCommand('copy');
			this.$store.dispatch('SNACKBAR_SUCCESS', 'Текст успешно скопирован в буфер обмена');
		},


		/**
		 * Скачать сгенерированный yaml конфиг в виде файла .yml
		 * @param {string} filename
		 */
		download_yaml_file() {
			let link                = document.createElement('a');
			let link_attribute_href = 'data:text/plain;charset=utf-8,' + encodeURIComponent(this.yaml);

			link.setAttribute('href', link_attribute_href);
			link.setAttribute('download', this.dialog_download_file_file_name + '.yml');
			link.style.display = 'none';

			document.body.appendChild(link);
			link.click();

			link.remove();
			this.is_dialog_download_file_opened = false;
		},


		/**
		 *
		 * @param action_name
		 */
		update_current_step(action_name) {
			this.current_step = this.object_to_treeview(this.default_actions[action_name]);
		}
	},
	mounted() {
		this.update_treeview();
	}
}
</script>

<style scoped>

</style>