<template>
	<v-treeview :items="items">
		<template v-slot:label="{ item }">
			<v-text-field
				v-if="typeof item.value != 'undefined'"
				:label="item.name"
				v-model="item.value"
			>
			</v-text-field>
			<span v-else>{{ item.name }}</span>
		</template>
	</v-treeview>
</template>

<script>
export default {
	name  : "TestTreeview",
	props : {
		items : Array
	},
	data  : () => ({})
}
</script>

<style scoped>

</style>