<template>
	<v-app>
		<v-app-bar
			app
			color="dark"
			dark
		>
			<div class="d-flex align-center">
				Test Plan Generator
			</div>

			<v-spacer></v-spacer>
		</v-app-bar>
		<v-snackbar
			:timeout="-1"
			:value="this.$store.state.snackbar.visible"
			:color="this.$store.state.snackbar.color"
		>
			{{ this.$store.state.snackbar.text }}
		</v-snackbar>
		<v-main>
			<test-generator></test-generator>
		</v-main>
	</v-app>
</template>

<script>
import TestGenerator from "./components/TestGenerator";

export default {
	name : 'App',

	components : {
		TestGenerator
	},

	data : () => ({
		snackbar : true
	}),
};
</script>
